---
layout: default
title : Homepage
navbar_name: Home
num_selected: 10
---

<!-- Profile card -->
{% include widgets/profile_card.html %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/experience_card.html %}
{% endif %}

<!-- Research Project Section -->
<div class="row mt-3">
  <div class="col">
    <div class="card border-0 shadow-sm bg-white">
      <div class="card-body p-4">
        <h6 style="color: black;">Research Project Experience</h6>
        <ul class="list-unstyled mt-3 small">
          <li class="mb-3">
            <strong>Development of Personal Information De-identification Technology in Suspected Criminal Data: Early Detection Technology for Emerging Voice Phishing Scams</strong><br />
            Funded by Institute of Information & communications Technology Planning & Evaluation, Republic of Korea.<br />
            <em>May 01 2024 – Dec 31 2028</em>
          </li>
          <li class="mb-3">
            <strong>Development of Multimodal Al-based Personal Information Detection, Tracking, and De-identification Technology</strong><br />
            Funded by  KISA (Korean Internet & Security Agency), Ministry of Science and ICT, Republic of Korea.<br />
            <em>Apr 01 2024 – Dec 31 2027</em>
          </li>
          <li class="mb-3">
            <strong>Establishment of Localization Strategies for Overseas Datasets in AI Safety Evaluation</strong><br />
            Funded by Telecommunications Technology Association (TTA), Republic of Korea.<br />
            <em>Dec 12 2024 – Dec 31 2024</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Publications Section -->
<div class="row mt-3">
  <div class="col">
    <div class="card border-0 shadow-sm bg-white">
      <div class="card-body p-4">
        <h6 class="font-weight-bold mb-3">Publications</h6>
        
        <div class="mb-3">
          <h6 class="mb-1 d-flex align-items-center">
            <span>Benchmarking Korean Idiom Understanding: A Comparative Analysis of Local and Global Models</span>
            <span class="badge ml-2" style="background-color: #f78fdd; color: white;">Culture</span>
            <span class="badge ml-1" style="background-color: #ffc107; color: white;">NLP</span>
          </h6>
          <p class="mb-1 small">
            <strong>Xiaonan Wang</strong>, Seoyoon Park, and Hansaem Kim
          </p>
          <p class="text-muted font-italic mb-2" style="font-size: 0.9rem;">Under Review</p>
          <a href="" class="btn btn-sm btn-dark">arXiv</a>
        </div>

        <div class="mb-3">
          <h6 class="mb-1 d-flex align-items-center">
            <span>KULTURE Bench: A Benchmark for Assessing Language Model in Korean Cultural Context</span>
            <span class="badge ml-2" style="background-color: #f78fdd; color: white;">Culture</span>
            <span class="badge ml-1" style="background-color: #ffc107; color: white;">NLP</span>
          </h6>
          <p class="mb-1 small">
            <strong>Xiaonan Wang</strong>, Jinyoung Yeo, Joon-Ho Lim, and Hansaem Kim
          </p>
          <p class="text-muted font-italic mb-2" style="font-size: 0.9rem;">In Proceedings of the 38th Pacific Asia Conference on Language, Information and Computation (PACLIC 38), Tokyo, Japan, 2024.</p>
          <a href="https://arxiv.org/abs/2412.07251" class="btn btn-sm btn-dark">arXiv</a>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Visitor map -->
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ede7e7&w=180&t=n&d=2hdELQUXGbZXhd7nU8b6DM0o0lTQDMdsI0TK710fQRU&co=6e9dbf&cmo=1b6de2&cmn=461b91&ct=1c1717"></script>
