<div class="row mt-3">
  <div class="col">
    <div class="card border-0 shadow-sm bg-white">
      <div class="card-body p-4">
        <div class="row">

          <!-- Education -->
          {% if site.data.profile.education %}
          <div class="col-md-6">
            <div class="mx-2 my-1">
              <h6>Education</h6>
              <ul class="list-unstyled mb-2">
                {% for item in site.data.profile.education %}
                <li class="media mb-1">
                  <img src="{{ item.logo }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                  <div class="media-body">
                    <p class="my-0 font-weight-bold">{{ item.name }}</p>
                    <p class="small my-0">{{ item.dept }}</p>
                    <p class="small my-0">{{ item.position }} <em class="float-right">{{ item.date }}</em></p>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}

          <!-- Honors -->
          {% if site.data.profile.awards %}
          <div class="col-md-6">
            <div class="mx-2 my-1">
              <h6>Honors & Awards</h6>
              <ul class="list-unstyled mb-2">
                {% for item in site.data.profile.awards %}
                <li class="d-flex justify-content-between">
                  <span>{{ item.name }}</span>
                  <em>{{ item.date }}</em>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}

          <!-- Experience -->
          {% if site.data.profile.experience %}
          <div class="col-md-6">
            <div class="mx-2 my-1">
              <h6>Experience</h6>
              <ul class="list-unstyled mb-2">
                {% for item in site.data.profile.experience %}
                <li class="media mb-1">
                  <div class="media-body">
                    <p class="my-0 font-weight-bold">{{ item.name }}</p>
                    <p class="small my-0">{{ item.dept }}</p>
                    <p class="small my-0">{{ item.position }} <em class="float-right">{{ item.date }}</em></p>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}

          <!-- Languages -->
          {% if site.data.profile.spoken_languages %}
          <div class="col-md-6">
            <div class="mx-2 my-1">
              <h6>Spoken Languages</h6>
              <ul class="list-unstyled small mb-2">
                {% for lang in site.data.profile.spoken_languages %}
                <li class="d-flex justify-content-between mb-1">
                  <strong>{{ lang.name }}</strong>
                  <span>
                    {{ lang.level }}
                    {% if lang.comment %}
                    – <span class="text-muted">{{ lang.comment }}</span>
                    {% endif %}
                  </span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}

          <!-- Travel 独立放在底部 -->
          {% if site.data.profile.service %}
          <div class="col-12">
            <div class="mx-2 mt-3">
              <h6>Travel</h6>
              <ul class="list small mb-0">
                {% for item in site.data.profile.service %}
                <li>{{ item.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>


